{% extends "base.html" %}
{% load humanize %}
{% block TITLE %}N&oacute;mina{% endblock %}
{% block content %}
<div class="">
	<h3>
		N&oacute;mina {{ PROJECT_NAME }}
		<button class="btn btn-primary pull-right" id="btn-generate-pdf"><span class="glyphicon glyphicon-list-alt"></span> Generar en PDF</button>
	</h3>
</div>
<hr>
<div id="data">
	<style type="text/css">
        body{font-family:Helvetica;color: #555;}
        #footerContent{
            margin: 20px 0;
            margin-top: 45px;
        }
        .box{overflow: hidden;}
        .box > div{float: left;width: 50%}
        #headerContent{margin: 0}
        th{text-align: left;vertical-align: center;}
        th, td{padding: 3px}
        #headerContent > div > img{height:50px;width:100px;margin:0;margin-top:0;}
        .div-header{height:50px;max-width:100px;display:inline-block;margin:0;}
        #payrollContent{line-height: 1.8;margin: 0}
        table{width: 100%}
        @page {
          margin: 2.5cm;
          margin-top: 3cm;
          margin-bottom: 2.5cm;
          font-size: 26px;
          colordisplay:#555;
          @frame header {
            -pdf-frame-content: headerContent;
            top: 1cm;
            margin-left: 2.1cm;
            margin-right: 1cm;
            height: 2.5cm;
          }
          @frame footer {
            -pdf-frame-content: footerContent;
            bottom: 1cm;
            margin-left: 2.5cm;
            margin-right: 1cm;
            margin-top: 1.5cm;
            height: 2cm;
          }
        }
    </style>
    <div id="payrollTitle"></div>
	<div class="panel panel-info">
	    <div class="panel-heading" id="headerContent">
	        <h3 class="panel-title">N&oacute;mina {{ PROJECT_NAME }} - {% now "F j \d\e Y H:i" %}</h3>
	    </div>
	    <div class="table-responsive">
	    <table id="dataTable2" class="table table-hover table-condensed table-striped">
	        <thead>
		        <tr>
		            <th>Nombre completo</th>
		            <th>C&eacute;dula</th>
		            <th>Tipo de usuario</th>
		            <th class="text-right">Valor</th>
		        </tr>
	        </thead>
	        <tbody>
		        {% for payroll_obj in payroll_list %}
		        <tr>
		            <td>{{ payroll_obj.user.get_full_name|title }}</td>
		            <td>{{ payroll_obj.user.userprofile.dni }}</td>
		            <td>{{ payroll_obj.user.userprofile.user_type.name }}</td>
		            <td class="text-right"><strong>${{payroll_obj.total_payroll|intcomma}}</strong></td>
		        </tr>
		    	{% endfor %}
		    	<tr>
		            <td><strong>TOTAL</strong></td>
		            <td></td>
		            <td></td>
		            <td class="text-right"><h3>${{global_payroll|intcomma}}</h3></td>
		        </tr>
	    	</tbody>
	    </table>
	    </div>
	</div>
	<div class="panel panel-default" id="userSearch">
	  <div class="panel-body">
	    <label id="labelSearch" for="searchInput" class="pull-left">Buscar por nombre o c&eacute;dula: </label> <input type="text" id="searchInput" class="form-control" placeholder="Nombre o c&eacute;dula">
	  </div>
	</div>
	<ul class="panel-group" id="accordion">
		{% for payroll_obj in payroll_list %}
		<li class="panel panel-info panel-user">
		    <div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse{{payroll_obj.user.pk}}">
			    <h4 class="panel-title">
			          {{ payroll_obj.user.userprofile.dni }} - 
			          {{ payroll_obj.user.get_full_name|title }}
		        </h4>
		    </div>
		    <div id="collapse{{payroll_obj.user.pk}}" class="panel-collapse collapse in">
			    <div class="panel-body">
		            <div class="table-responsive">
				    	<h4>Actividades:</h4>
					    <table id="dataTable" class="table table-hover table-condensed table-striped table-bordered">
					        <thead>
						        <tr>
						            <th>Actividad</th>
						            <th>Valor unidad</th>
						            <th>Cantidad</th>
						            <th>Unidades</th>
						            <th>Fecha</th>
						            <th>Orden de Pro</th>
						            <th class="text-right">Valor actividad</th>
						        </tr>
					        </thead>
					        <tbody>
						        {% for obj in payroll_obj.activities %}
						        <tr>
						            <td>{{obj.filling_pro_ord.production_order.activity}}</td>
						            <td class="text-right">${{obj.filling_pro_ord.production_order.activity.value|intcomma}}</td>
						            <td class="text-right">{{obj.value}}</td>
						            <td>{{obj.filling_pro_ord.production_order.activity.measuring_unit}}</td>
						            <td><span title="{{obj.date_modified}}">{{obj.date_modified|date:"Y/m/d G:i"}}</span></td>
						            <td class="text-center">{{obj.filling_pro_ord.production_order.pk}}</td>
						            <td class="text-right">${{obj.activity_value|intcomma}}</td>
						        </tr>
						    	{% endfor %}
						    	<tr>
						    		<td><strong>Total actividades</strong></td>
						    		<td colspan="5" ></td>
						    		<td class="text-right"><strong>${{payroll_obj.total_activities|intcomma}}</strong></td>
						    	</tr>
					    	</tbody>
					    </table>
				    </div>
				    <div class="table-responsive">
				    	<h4>Descuentos:</h4>
					    <table id="dataTable" class="table table-hover table-condensed table-striped table-bordered">
					        <thead>
						        <tr>
						            <th>Tipo</th>
						            <th>Fecha registro</th>
						            <th>Valor descuento</th>
						        </tr>
					        </thead>
					        <tbody>
						        {% for obj in payroll_obj.discounts %}
						        <tr>
						            <td>{{obj.general_discount.name|title}}</td>
						            <td><span title="{{obj.date_modified}}">{{obj.date_modified|date:"Y/m/d G:i"}}</span></td>
						            <td class="text-right">${{obj.value}}</td>
						        </tr>
						    	{% endfor %}
						    	<tr>
						    		<td><strong>Total descuentos</strong></td>
						    		<td></td>
						    		<td class="text-right"><strong>${{payroll_obj.total_discounts|intcomma}}</strong></td>
						    	</tr>
					    	</tbody>
					    </table>
				    </div>
				    <div class="table-responsive">
				    	<h4>Aumentos:</h4>
					    <table id="dataTable" class="table table-hover table-condensed table-striped table-bordered">
					        <thead>
						        <tr>
						            <th>Tipo</th>
						            <th>Fecha registro</th>
						            <th>Valor aumento</th>
						        </tr>
					        </thead>
					        <tbody>
						        {% for obj in payroll_obj.increases %}
						        <tr>
						            <td>{{obj.increase.name|title}}</td>
						            <td><span title="{{obj.date_modified}}">{{obj.date_modified|date:"Y/m/d G:i"}}</span></td>
						            <td class="text-right">${{obj.value}}</td>
						        </tr>
						    	{% endfor %}
						    	<tr>
						    		<td><strong>Total descuentos</strong></td>
						    		<td></td>
						    		<td class="text-right"><strong>${{payroll_obj.total_increases|intcomma}}</strong></td>
						    	</tr>
					    	</tbody>
					    </table>
				    </div>
				    <div class="table-responsive">
				    	<h4>TOTAL:</h4>
					    <table id="dataTable" class="table table-hover table-condensed table-striped table-bordered">
					        <thead>
						        <tr>
						            <th>Concepto</th>
						            <th class="text-right">Valor</th>
						        </tr>
					        </thead>
					        <tbody>
						    	<tr>
						    		<td>Total actividades</td>
						    		<td class="text-right"><strong>${{payroll_obj.total_activities|intcomma}}</strong></td>
						    	</tr>
				                <tr>
				                    <td>Total aumentos</td>
				                    <td class="text-right"><strong>${{payroll_obj.total_increases|intcomma}}</strong></td>
				                </tr>
                                <tr><td></td><td></td></tr>
                                <tr>
                                    <td><strong>Total devengado</strong></td>
                                    <td class="text-right"><strong>${{payroll_obj.total_accrued|intcomma}}</strong></td>
                                </tr>
                                <tr><td></td><td></td></tr>
				                <tr>
				                    <td>{{payroll_obj.legal_discount_type}}</td>
				                    <td class="text-right"><strong>-${{payroll_obj.legal_discount_value|intcomma}}</strong></td>
				                </tr>    
				                <tr>
				                    <td>Total descuentos</td>
				                    <td class="text-right"><strong>-${{payroll_obj.total_discounts|intcomma}}</strong></td>
				                </tr>
						    	<tr>
						    		<td><strong>TOTAL</strong></td>
						    		<td class="text-right"><strong>${{payroll_obj.total_payroll|intcomma}}</strong></td>
						    	</tr>
					    	</tbody>
					    </table>
				    </div>
				</div>
		    </div>
		    <div class="userSeparator"></div>
		</li>
		{% endfor %}
	</ul>
	<div id="footerContent">
		<script>document.write((new Date()).getFullYear())</script> {{ PROJECT_NAME }} - {{ PROJECT_DESCRIPTION }} 
    </div>
</div>
<form id="pdf-form" method="post" class="" action="{% url 'html_to_pdf' %}">
	{% csrf_token %}
	<input type="hidden" value="nomina" name="pdf_name">
	<textarea id="html-data" name="html-data"  style="display:none;" ></textarea>
</form>
{% endblock %}

{% block style %}
<style type="text/css">
    .actions .btn{padding: 0;}
    .panel-title{line-height: 34px;}
    .accordion-toggle{cursor: pointer}
    #accordion{padding-left: 0}
    #searchInput{width: 200px;}
    #labelSearch{margin: 6px 6px 6px 0;}
</style>
{% endblock %}

{% block js %}
<script src="{{ STATIC_URL }}js/jquery.fastLiveFilter.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
    	$('#searchInput').fastLiveFilter('#accordion');
        $("span").tooltip();
        $("#accordion .collapse").collapse({
            // toggle: false
        });
        $("#btn-generate-pdf").on("click", function (e) {
			e.preventDefault();
			e.preventDefault();
			$("#payrollTitle").html("<h1>Tabla General</h1>");
			$("#userSearch").html("<br><br><br> <h1>Detalles por Empleado</h1><hr>");
			$(".userSeparator").html("<br><br> <hr>");
			$("#data table").attr("border","1");
			$('#html-data').val($('#data').html());
			$("#pdf-form").submit();
		})
    });
</script>
{% endblock %}