{% extends "base.html" %}
{% block TITLE %}Inicio{% endblock %}
{% block content %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Descuentos aplicados</h3>
    </div>
    <div class="table-responsive">
    <table id="dataTable" class="table table-hover table-condensed table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Responsable</th>
            <th>Fecha</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in obj_list %}
        <tr class= "discounts" >
            <td>{{ obj.pk }}</td>
            <td>{{ obj.admin.get_full_name }}</td>
            <td class="text-center"><span title="{{obj.date_added}}">{{obj.date_added|date:"Y/m/d G:i"}}</span></td>
            <td class="text-center actions">
                <a href="{% url 'read_payroll' obj.pk %}" title="Ver descuentos" class="btn"><span class="glyphicon glyphicon-eye-open"></span></a>
                <a href="{% url 'read_payroll' obj.pk %}" title="Aplicar descuento" class="btn"><span class="glyphicon glyphicon-plus"></span></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
</div>
{% block modal%}
{% endblock %}

{% endblock %}

{% block style %}
<style type="text/css">
    .actions .btn{padding: 0;}
    .panel-title{line-height: 34px;}
</style>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function(){
        $("span").tooltip();
        /* dataTables jQuery plugin activation setDataTables(id_table)*/
        setDataTables('#dataTable')
    });
</script>
{% endblock %}













