{% extends "base.html" %}
{% block TITLE %}Inicio{% endblock %}
{% block content %}
<div class="page-header">
 	<h1>ACTIVIDADES <small>Agrega, edita o elimina actividades</small> 
  		
	</h1>
</div>
<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title pull-left">Gesti&oacute;n de actividades</h3>
		<div class="text-right">
			<a  href="#activityFormModal" title="Haz click aqu&iacute; para agregar una nueva actividad" data-toggle="modal" class="btn btn-primary btn-sm">
    			<span class="glyphicon glyphicon-plus"></span> Agregar
    		</a>
   			<a href="" title="Haz click aqu&iacute; si deseas cargar las actividades desde un archivo CSV" class="btn btn-primary btn-sm">
   				<span class="glyphicon glyphicon-arrow-up" ></span> Cargar
   			</a>
		</div>
	</div>
	<table id="dataTable" class="table table-hover table-condensed table-striped">
		<thead>
		<tr>
			<th>Estado</th>
			<th>C&oacute;digo</th>
			<th>Nombre</th>
			<th>Descripci&oacute;n</th>
			<th>Unidad de medida</th>
			<th>Precio</th>
			<th>Fecha Creaci&oacute;n</th>
			<th>Mod</th>
			<th>Fecha Ultima modificaci&oacute;n</th>
			<th>Acciones</th>
		</tr>
		</thead>
		<tbody>
		{% for a in activities_list %}
		<tr>
			<td class="text-center">{% if a.is_available %}
				<span title="Esta actividad se lista actualmente" class="glyphicon glyphicon-ok" ></span>{% else %}
				<span title="Esta actividad no se encuentra activa actualmente 
							y no se muestra en los listados de ordenes de producci&oacute;" class="glyphicon glyphicon-ban-circle" ></span>
				{% endif %}
			</td>
			<td >{{a.code}}</td>
			<td>{{a.name}}</td>
			<td>{{a.description}}</td>
			<td>{{a.measuring_unit}}</td>
			<td>${{a.value}}</td>
			<td>{{a.date_added}}</td>
			<td>{{a.modifications}}</td>
			<td>{{a.date_modified}}</td>
			<td class="text-center actions">
				<a href="{% url 'update_activity' a.id %}" title="Editar esta actividad" class="btn"><span class="glyphicon glyphicon-pencil"></span></a>
				<a href="{% url 'delete_activity' a.id %}" title="Eliminar esta actividad" class="btn btn-delete"><span class="glyphicon glyphicon-remove"></span></a>
			</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>
</div>

<div class="modal fade" id="activityFormModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> <!-- Ventana Modal para agregar actividades. -->
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4>
				ACTIVIDAD
				</h4>
			</div>
			<form method = "POST"  enctype="multipart/form-data" id="activityForm">
			{% csrf_token %}
			<div class="modal-body">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title pull-left">
						{% if form_mode == "_create" %}
							AGREGAR
						{% elif form_mode ==  "_update" %}
							EDITAR
						{% endif %}
						</h3>
						<div class="text-right">
						{% if form_mode == '_update' %}
							<a href="{% url 'delete_activity' obj.pk %}" title="Eliminar este usuario" class="btn btn-danger btn-sm btn-delete"><span class="glyphicon glyphicon-remove"></span> Eliminar</a>
						{% else %}
						<a href="#" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-arrow-up" ></span> Cargar con CSV</a>
						{% endif %}
						</div>
					</div>
					<table class="table table-hover table-condensed table-striped">
					{{ form }}
					</table>
				</div>
			</div>
			<div class="modal-footer">
				{% if form_mode == "_create" %}
				<button type="submit" class="btn btn-primary" name="_createanother">Guardar y agregar otro</button>
				{% endif %}		        
		        <button type="submit" class="btn btn-primary" name="_create">Guardar</button>
		        <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Close</button>
		    </div>
		    </form>
		</div>
	</div>
</div>

{% endblock %}

{% block style %}
<style type="text/css">
	.actions .btn{padding: 0;}
	.panel-title{line-height: 34px;}
</style>
{% endblock %}

{% block js %}
<script type="text/javascript">
	$(document).ready(function(){
		{% if show_form %}
				$('#activityFormModal').modal('show')
		{% endif %}
		$("span").tooltip();
		{% if form_mode ==  "_update" %}
			$(".close-modal").on('click', function(){
				top.location ="{% url 'create_activity' %}";
			});
		{% endif %}

		/* dataTables jQuery plugin activation setDataTables(id_table)*/
		setDataTables('#dataTable')
		
	});
</script>
{% endblock %}













