{% extends "emailmodule/email_layout.html" %}
{% block emaildata%}
<tr width="100%"> 
	<td valign="top" align="left" style="border-bottom-left-radius:4px;border-bottom-right-radius:4px;background:#fff;padding:18px"> 
		<h1 style="font-size:20px;margin:0">Te han invitado a unirte a un grupo en  <strong>Actarium</strong> </h1> 
		<hr style="clear:both;min-height:1px;border:0;border:none;width:100%;background:#dcdcdc;color:#dcdcdc;margin:18px 0;padding:0"> 
		<table >
			<tr style="padding: 5px">
				<td style="padding: 5px">
					<span style="margin:0 2px 0 0"> 
						<img src="{{ urlgravatar }}" alt="{{ username }}" title="{{ username }}" width="50" height="50" style="display:inline;vertical-align:top"> 
					</span>
				</td>
				<td style="padding: 5px">
					<h3 style="font-size:18px;margin:18px 0">{{ firstname }} ({{ username }})  te envi&oacute; una invitaci&oacute;n para que te unas al grupo {{groupname}}</h3>
				</td>
			</tr>
		</table>
			 
		<div> 
			<div style="margin-bottom:18px;font:15px/19px 'Helvetica Neue',Arial,Helvetica">
				Recibir&aacute;s notificaciones, podr&aacute; crear reuniones y actas. Todo depende de si aceptas la invitaci&oacute;n y del rol que ocupes en este grupo.<br><br>
				Ingresa a <a href='http://actarium.com/?ref=email'>Actarium.com</a> para aceptar o rechazar &eacute;sta invitaci&oacute;n.
			</div> 
			
		</div> 
	</td> 
</tr> 
{% endblock %}	