{% extends "base.html" %}
{% block TITLE %} Inventario  - Listado de items {% endblock %}
{% block content %}
{% load humanize %}
<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title ">Inventario</h3>
		<!-- <div class="text-right">
			<a  href="#" title="Haz click aqu&iacute; para ingresar un item al almacen" class="btn btn-primary btn-sm">
    			<span class="glyphicon glyphicon-plus"></span> Ingresar item
    		</a>
    		<a  href="#" title="Haz click aqu&iacute; para sacar un item al almacen" class="btn btn-primary btn-sm">
    			<span class="glyphicon glyphicon-minus"></span> Sacar item
    		</a>
		</div> -->
	</div>
	<div class="table-responsive">
	<table id="dataTable" class="table table-hover table-condensed table-striped">
		<thead>
		<tr>
			<th>Cod</th>
			<th>Item</th>
			<th>Cantidad</th>
			<th>Valor Unidad</th>
			<th>Total</th>
			<th>Ultima Modificacion</th>
			<th>Acciones</th>
		</tr>
		</thead>
		<tbody>
		{% for obj_inventory in list_inventory %}
		<tr>
			<td >
				{{obj_inventory.tool.code}}
            </td>
			<td >
				{{obj_inventory.tool.name}}
            </td>
			<td class="text-right" >
				{{obj_inventory.quantity|floatformat:0|intcomma}}
			</td>
			<td class="text-right" >
				$ {{obj_inventory.get_unit_value|floatformat:0|intcomma}}
			</td>
			<td class="text-right" >
				$ {{obj_inventory.get_total_value|floatformat:0|intcomma}}
			</td>
			<td class="text-right">
				<span title="{{obj_inventory.date_modified}}">{{obj_inventory.date_modified|date:"Y/m/d G:i"}}</span>
			</td>
			<td class="text-center actions">
				
				<a href="{% url 'list_item_history' %}?tool_id={{ obj_inventory.tool.id }}" title="Ver historial de item" class="btn"><span class="glyphicon glyphicon-eye-open"></span></a>
				
			</td>
		</tr>
		{% endfor %}
	</tbody>
	</table>
	</div>
</div>


{% endblock %}

{% block style %}
<link href="{{ STATIC_URL }}css/chosen.css" rel="stylesheet">
<style type="text/css">
	.actions .btn{padding: 0;}
	.panel-title{line-height: 34px;}
	.default{ height: 25px !important;
		width: 100% !important; }
	
	.search-field {
		width: 100% !important;
	}		
	.search-field input{height: 25px !important;
		}
</style>
{% endblock %}

{% block js %}
<script src="{{ STATIC_URL }}js/chosen.jquery.js"></script>
<script type="text/javascript">
	
	$(document).ready(function(){

		$("span").tooltip();

		setDataTables('#dataTable')
		{% if error %}
			setAlertError("No se puede procesar la solicitud", "{{ error }}");
		{% endif%}
	});
</script>
{% endblock %}













