{% extends "base.html" %}
{% block TITLE %}Administracion equipos e insumos{% endblock %}
{% block content %}
<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title pull-left">Gesti&oacute;n de equipos e insumos</h3>
		<div class="text-right">
			<a  href="#toolsFormModal" title="Haz click aqu&iacute; para agregar un nuevo equipo/insumo" data-toggle="modal" class="btn btn-primary btn-sm">
    			<span class="glyphicon glyphicon-plus"></span> Agregar
    		</a>
		</div>
	</div>
	<div class="table-responsive">
	<table id="dataTable" class="table table-hover table-condensed table-striped ">
		<thead>
			<tr>
				<th>Estado</th>
				<th>C&oacute;digo</th>
				<th>Nombre</th>
				<th>Descripci&oacute;n</th>
				<th>Fecha Creaci&oacute;n</th>
				<th>Mod</th>
				<th>Ultima modificaci&oacute;n</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			{% for a in tools_list %}
			<tr>
				<td class="text-center">{% if a.is_available %}
					<span title="Este descuento se encuentra disponible actualmente" class="glyphicon glyphicon-ok" ></span>{% else %}
					<span title="Este descuento no se encuentra activa actualmente 
								y no se muestra en los listados de ordenes de producci&oacute;" class="glyphicon glyphicon-ban-circle" ></span>
					{% endif %}
				</td>
				<td >{{a.code}}</td>
				<td>{{a.name}}</td>
				<td>{{a.description}}</td>
				<td><span title="{{a.date_added}}">{{a.date_added|date:"Y/m/d G:i"}}</span></td>
				<td class="text-center">{{a.modifications}}</td>
				<td><span title="{{a.date_modified}}">{{a.date_modified|date:"Y/m/d G:i"}}</span></td>
				<td class="text-center actions">
					<a href="{% url 'update_tool' a.id %}" title="Editar este equipo/insumo" class="btn"><span class="glyphicon glyphicon-pencil"></span></a>
					<a href="{% url 'delete_tool' a.id %}" title="Eliminar este equipo/insumo" class="btn btn-delete"><span class="glyphicon glyphicon-remove"></span></a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	</div>
</div>
<div class="modal fade" id="toolsFormModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> <!-- Ventana Modal para agregar equipo/insumo. -->
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4>
					Equipos e insumos
				</h4>
			</div>
			<form method = "POST"  enctype="multipart/form-data" id="toolsForm">
			{% csrf_token %}
			<div class="modal-body">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title pull-left">
						{% if form_mode == "_create" %}
							Agregar
						{% elif form_mode ==  "_update" %}
							Editar
						{% endif %}
						</h3>
						<div class="text-right">
						{% if form_mode == '_update' %}
							<a href="{% url 'delete_tool' obj.pk %}" title="Eliminar este usuario" class="btn btn-danger btn-sm btn-delete"><span class="glyphicon glyphicon-remove"></span> Eliminar</a>
						{% else %}
							<a href="{% url 'create_tools' %}" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-arrow-up" ></span> Volver</a>
						{% endif %}
						</div>
					</div>
					<table class="table table-hover table-condensed table-striped">
					{{ form }}
					</table>
				</div>
			</div>
			<div class="modal-footer">
				{% if form_mode == "_create" %}
				<button type="submit" class="btn btn-primary" name="_createanother">Guardar y agregar otro</button>
				{% endif %}		        
		        <button type="submit" class="btn btn-primary" name="_create">Guardar</button>
		        <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Cerrar</button>
		    </div>
		    </form>
		</div>
	</div>
</div>
{% endblock %}

{% block style %}
<style type="text/css">
	.actions .btn{padding: 0;}
	.panel-title{line-height: 34px;}
</style>
{% endblock %}

{% block js %}
<script type="text/javascript">
	$(document).ready(function(){
		{% if show_form %}
				$('#toolsFormModal').modal('show')
		{% endif %}
		$("span").tooltip();
		{% if form_mode ==  "_update" %}
			$('#toolsFormModal').on('hidden.bs.modal', function () {
				top.location ="{% url 'create_tools' %}";
			  	top.location = "{% url 'admin_users' %}"
			});
		{% endif %}
		/* dataTables jQuery plugin activation setDataTables(id_table)*/
		setDataTables('#dataTable')		
	});
</script>
{% endblock %}