{% spaceless %}<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ PROJECT_NAME }}, {{ PROJECT_DESCRIPTION }}">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png" type="image/png" >

    <title>{{ PROJECT_NAME }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}libs/bootstrap/dist/css/sticky-footer-navbar.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}libs/bootstrap/assets/js/html5shiv.js"></script>
      <script src="{{ STATIC_URL }}libs/bootstrap/assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Wrap all page content here -->
    <div id="wrap">
        <!-- Begin page content -->
        <div class="container">
	        <div class="page-headers text-center">
            <h1>
            <a href="http://daiech.com"><img src="{{ STATIC_URL }}img/logo-destaju.png" alt="" width="150px"></a>
            <br>
            <!-- {{ PROJECT_NAME }}<br> -->
            <small>{{ PROJECT_DESCRIPTION }}</small></h1>
    			</div>
    			<div class="">
    				<form class="form-signin" method="post" action="{% url 'log_in' %}">
    					<!-- <h2 class="form-signin-heading">Iniciar sesi&oacute;n</h2> -->
    					{% csrf_token %}
    					<input type="text"  id="id_username" maxlength="254" name="username" class="form-control" placeholder="Nombre de usuario o Correo electr&oacute;nico" autofocus>
    					<input type="password" id="id_password" name="password" class="form-control" placeholder="Contrase&ntilde;a">
    					<button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar sesi&oacute;n</button>
    				</form>
    			</div>
          <div class="text-center">
            <a href="{% url 'description' %}" class="btn btn-link">¿Quiere saber más?</a>
          </div>
        </div>
    </div>

    <div id="footer">
      <div class="container">
        <div class="row-fluid">
          <div class="col-md-6 col-sm-6 text-lc">
            <p class="text-muted credit">
              {{ PROJECT_NAME }} <script>document.write((new Date()).getFullYear())</script>, un producto <a href="http://www.daiech.com" target="_blank"><img src="{{ STATIC_URL }}img/daiech.png" style="width: 80px;"></a>
            </p>
          </div>
          <div class="col-md-6 col-sm-6 text-rc">
            <p class="text-muted credit">
              powered by <a href="http://www.parquesoftpereira.com/inteligencia-de-negocios/57-daiech.html"><img src="{{ STATIC_URL }}img/logo-parquesoft.png" style="width: 100px;"></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
{% endspaceless %}