{% extends "approval_pro_ord.html" %}

{% block modal%}
<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> <!-- Ventana Modal para agregar actividades. -->
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>
                APROBAR ORDEN DE PRODUCCI&Oacute;N
                </h4>
                Actividad: {{ po.activity.name }}
            </div>
            <form method = "POST"  enctype="multipart/form-data" id="Form">
            {% csrf_token %}
            
            <div class="modal-body">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Formulario para aprobar ordenes de producci&oacute;n para n&oacute;mina
                        </h3>
                    </div>
                    <table class="table table-hover table-condensed table-striped">
                    {{ form }}
                    </table>
                    
                    {% include "resume_production_order_json.html" %}
                </div>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" name="_create">Guardar</button>
                <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Close</button>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}