{% extends "base.html" %}
{% block TITLE %}Llenado de ordenes de producci&oacute;n {% endblock %}
{% block content %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title ">LLenar ordenes de producci&oacute;n</h3>
    </div>
    <div class="table-responsive">
    <table id="dataTable" class="table table-hover table-condensed table-striped">
        <thead>
        <tr>
            <th></th>
            <th>Estado</th>
            <th>#</th>
            <th>Creador</th>
            <th>Actividad</th>
            <th>Lugar</th>
            <th>Herramientas</th>
            <th>Responsables</th>
            <th>Fecha Generacion</th>
            <th>Fecha de llenado</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in object_list %}
        <tr>
            <td class="text-center actions">
                {% if obj.status == 1 %}
                <span title="No ha sido llenada" class="glyphicon glyphicon-unchecked" ></span></a>
                {% elif obj.status == 2 %}
                <span title="Ya se ha llenado" class="glyphicon glyphicon-stop" ></span></a>
                {% else %}
                ERROR
                {% endif %}
            </td>
            <td>
            {% if obj.status == 1 %}
                    Generada
                {% elif obj.status == 2 %}
                    Llena
                {% else %}
                    ERROR
                {% endif %}
            </td>
            <td >{{obj.pk}}</td>
            <td>{{obj.user.username}}</td>
            <td>{{obj.activity.name}}</td>
            <td>{{obj.place.name}}</td>
            <td>
                <ul>
                {% for tool in obj.tools.all %}
                    <li>{{ tool }}</li>
                {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                {% for user in obj.responsible.all %}
                    <li>{{ user.get_full_name }}</li>
                {% endfor %}
                </ul>
            </td>
            <td><span title="{{obj.date_modified}}">{{obj.date_modified|date:"Y/m/d G:i"}}</span></td>
            <td><span title="{{obj.last_filling}}">{{obj.last_filling|date:"Y/m/d G:i"}}</span></td>
            <td class="text-center actions">
                {% if obj.status == 1 %}
                <a href="{% url 'filling' obj.id %}" title="LLenar esta orden de producci&oacute;n" class="btn"><span class="glyphicon glyphicon-th-list" ></span></a>
                {% elif obj.status == 2 %}
                <a href="{% url 'filling' obj.id %}" title="Editar esta orden de producci&oacute;n" class="btn"><span class="glyphicon glyphicon-pencil" ></span></a>
                {% else %}
                ERROR
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    </div>
</div>

<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> <!-- Ventana Modal para agregar actividades. -->
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>
                LLENAR ORDEN DE PRODUCCI&Oacute;N
                </h4>
                Actividad: {{ po.activity.name }}
            </div>
            <form method = "POST"  enctype="multipart/form-data" id="Form">
            {% csrf_token %}
            {{ formset.management_form }}
            
            <div class="modal-body">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Formulario para llenar &oacute;rdenes de producci&oacute;n
                        </h3>
                    </div>
                    <table class="table table-hover table-condensed table-striped">
                    <tr><td colspan="4">{{ form.comments }}{{ form.comments.errors }}</td></tr>
                    <tr><td>Unidad de medida:</td><td ><strong>({{po.activity.measuring_unit }})</strong></td><td >Tiempo (horas)</td><td>Observaciones personales</td></tr>
                    {% for form in formset %}
                         <tr>
                            {{ form.id }}
                            <td>{{ form.user }}</td>
                            <td>{{ form.value }}{{ form.value.errors }}</td>
                            <td>{{ form.time }}{{ form.time.errors }}</td>
                            <td>{{ form.comments }}{{ form.comments.errors }}</td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" name="_create">Guardar</button>
                <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Cerrar</button>
            </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block style %}
<style type="text/css">
    .actions .btn{padding: 0;}
    .panel-title{line-height: 34px;}
</style>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function(){
        {% if show_form %}
                $('#formModal').modal('show')
        {% endif %}
        $("span").tooltip();
        {% if form_mode ==  "_update" %}
            $('#formModal').on('hidden.bs.modal', function () {
                top.location = "{% url 'filling_pro_ord' %}"
            });
        {% endif %}
        /* dataTables jQuery plugin activation setDataTables(id_table)*/
        setDataTables('#dataTable')
        
        $(".name-only").each(function(i){
            var t = $(this).find("option:selected").text();$(this).css("display", "none");
            $(this).parent().append(t)})
    });
</script>
{% endblock %}













