{% extends "base.html" %}
{% block TITLE %}Inicio{% endblock %}
{% block content %}
<div class="page-header">
 	<h1>ORDENES DE PRODUCCI&Oacute;N <small>Agrega, edita o elimina ordenes de producci&oacute;n</small> 
  		
	</h1>
</div>
<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title pull-left">Gesti&oacute;n de ordenes de produccion</h3>
		<div class="text-right">
			<a  href="#FormModal" title="Haz click aqu&iacute; para agregar una nueva actividad" data-toggle="modal" class="btn btn-primary btn-sm">
    			<span class="glyphicon glyphicon-plus"></span> Agregar
    		</a>
		</div>
	</div>
	<div class="table-responsive">
	<table id="dataTable" class="table table-hover table-condensed table-striped">
		<thead>
		<tr>
			<th>Estado</th>
			<th>#</th>
			<th>Creador</th>
			<th>Actividad</th>
			<th>Lugar</th>
			<th>Herramientas</th>
			<th>Responsables</th>
			<th>Fecha Creaci&oacute;n</th>
			<th>Mod</th>
			<th>Ultima modificaci&oacute;n</th>
			<th>Acciones</th>
		</tr>
		</thead>
		<tbody>
		{% for obj in object_list %}
		<tr>
			<td class="text-center">{% if obj.is_available %}
				<span title="Esta actividad se lista actualmente" class="glyphicon glyphicon-ok" ></span>{% else %}
				<span title="Esta actividad no se encuentra activa actualmente 
							y no se muestra en los listados de ordenes de producci&oacute;" class="glyphicon glyphicon-ban-circle" ></span>
				{% endif %}
			</td>
			<td >{{obj.pk}}</td>
			<td>{{obj.user.username}}</td>
			<td>{{obj.activity.name}}</td>
			<td>{{obj.place.name}}</td>
			<td>
				<ul>
				{% for tool in obj.tools.all %}
					<li>{{ tool.name }}</li>
				{% endfor %}
				</ul>
			</td>
			<td>
				<ul>
				{% for user in obj.responsible.all %}
					<li>{{ user.get_full_name }}</li>
				{% endfor %}
				</ul>
			</td>
			<td><span title="{{a.date_added}}">{{obj.date_added|date:"Y/m/d G:i"}}</span></td>
			<td class="text-center">{{obj.modifications}}</td>
			<td><span title="{{a.date_modified}}">{{obj.date_modified|date:"Y/m/d G:i"}}</span></td>
			<td class="text-center actions">
				<a href="{% url 'update_production_order' obj.id %}" title="Editar esta orden de producci&oacute;n" class="btn"><span class="glyphicon glyphicon-pencil"></span></a>
				<a href="{% url 'delete_production_order' obj.id %}" title="Eliminar esta orden de producci&oacute;n" class="btn btn-delete"><span class="glyphicon glyphicon-remove"></span></a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
	</table>
	</div>
</div>

<div class="modal fade" id="FormModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> <!-- Ventana Modal para agregar actividades. -->
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4>
				ORDEN DE PRODUCCI&Oacute;N
				</h4>
			</div>
			<form method = "POST"  enctype="multipart/form-data" id="Form">
			{% csrf_token %}
			<div class="modal-body">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title pull-left">
						{% if form_mode == "_create" %}
							AGREGAR
						{% elif form_mode ==  "_update" %}
							EDITAR
						{% endif %}
						</h3>
						<div class="text-right">
						{% if form_mode == '_update' %}
							<a href="{% url 'delete_production_order' obj.pk %}" title="Eliminar esta orden de producci&oacute;n" class="btn btn-danger btn-sm btn-delete"><span class="glyphicon glyphicon-remove"></span> Eliminar</a>
						{% else %}
						<a href="#" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-arrow-up" ></span>Volver</a>
						{% endif %}
						</div>
					</div>
					<table class="table table-hover table-condensed table-striped">
					{{ form }}
					</table>
				</div>
			</div>
			<div class="modal-footer">
				{% if form_mode == "_create" %}
				<button type="submit" class="btn btn-primary" name="_createanother">Guardar y agregar otro</button>
				{% endif %}		        
		        <button type="submit" class="btn btn-primary" name="_create">Guardar</button>
		        <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Close</button>
		    </div>
		    </form>
		</div>
	</div>
</div>

{% endblock %}

{% block style %}
<style type="text/css">
	.actions .btn{padding: 0;}
	.panel-title{line-height: 34px;}
</style>
{% endblock %}

{% block js %}
<script type="text/javascript">
	$(document).ready(function(){
		{% if show_form %}
				$('#FormModal').modal('show')
		{% endif %}
		$("span").tooltip();
		{% if form_mode ==  "_update" %}
			$(".close-modal").on('click', function(){
				top.location ="{% url 'create_production_order' %}";
			});
		{% endif %}

		/* dataTables jQuery plugin activation setDataTables(id_table)*/
		setDataTables('#dataTable')
		
	});
</script>
{% endblock %}













