{% extends "base.html" %}
{% block TITLE %}Ordenes de producci&oacute;n {% endblock %}
{% block content %}
<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title pull-left">Generaci&oacute;n de ordenes de produccion</h3>
		<div class="text-right">
			<a  href="#formModal" title="Haz click aqu&iacute; para agregar una nueva actividad" data-toggle="modal" class="btn btn-primary btn-sm">
    			<span class="glyphicon glyphicon-plus"></span> Agregar
    		</a>
		</div>
	</div>
	<div class="table-responsive">
	<table id="dataTable" class="table table-hover table-condensed table-striped">
		<thead>
		<tr>
			<th></th>
			<th>Estado</th>
			<th>#</th>
			<th>Creador</th>
			<th>Actividad</th>
			<th>Lugar</th>
			<th>Herramientas</th>
			<th>Responsables</th>
			<th>Fecha Creaci&oacute;n</th>
			<th>Mod</th>
			<th>Ultima modificaci&oacute;n</th>
			<th>Acciones</th>
		</tr>
		</thead>
		<tbody>
		{% for obj in object_list %}
		<tr>
			<td class="text-center actions">
				{% if obj.status == 1 %}
				<span title="Orden generada aun no se ha llenado" class="glyphicon glyphicon-unchecked" ></span></a>
                {% elif obj.status == 2 %}
                <span title="Orden llena,aun no se ha calificado" class="glyphicon glyphicon-stop" ></span></a>
                {% elif obj.status == 3 %}
                <span title="Orden calificada" class="glyphicon glyphicon-ok-circle" ></span></a>
                {% else %}
                ERROR
                {% endif %}
            </td>
			<td class="text-center">
				{% if obj.status == 1 %}
					Generada
				{% elif obj.status == 2 %}
					llena
				{% elif obj.status == 3 %}
					Calificada
				{% else %}
					ERROR
				{% endif %}
			</td>
			<td >{{obj.pk}}</td>
			<td>{{obj.user.username}}</td>
			<td>{{obj.activity.name}}</td>
			<td>{{obj.place.name}}</td>
			<td>
				<ul>
				{% for tool in obj.tools.all %}
					<li>{{ tool }}</li>
				{% endfor %}
				</ul>
			</td>
			<td>
				<ul>
				{% for user in obj.responsible.all %}
					<li>{{ user.get_full_name }}</li>
				{% endfor %}
				</ul>
			</td>
			<td><span title="{{obj.date_added}}">{{obj.date_added|date:"Y/m/d G:i"}}</span></td>
			<td class="text-center">{{obj.modifications}}</td>
			<td><span title="{{obj.date_modified}}">{{obj.date_modified|date:"Y/m/d G:i"}}</span></td>
			<td class="text-center actions">
				{% if obj.status == 1%}
				<a href="{% url 'update_production_order' obj.id %}" title="Editar esta orden de producci&oacute;n" class="btn"><span class="glyphicon glyphicon-pencil"></span></a>
				<a href="{% url 'delete_production_order' obj.id %}" title="Eliminar esta orden de producci&oacute;n" class="btn btn-delete"><span class="glyphicon glyphicon-remove"></span></a>
				{% else %}
				<span title = "Esta orden no se puede editar" class="glyphicon glyphicon-pencil disabled"></span>
				<span title = "Esta orden no se puede editar" class="glyphicon glyphicon-remove disabled"></span>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
	</table>
	</div>
</div>

<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> <!-- Ventana Modal para agregar actividades. -->
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4>
				ORDEN DE PRODUCCI&Oacute;N
				</h4>
			</div>
			<form method = "POST"  enctype="multipart/form-data" id="Form">
			{% csrf_token %}
			<div class="modal-body">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title pull-left">
						{% if form_mode == "_create" %}
							AGREGAR
						{% elif form_mode ==  "_update" %}
							EDITAR
						{% endif %}
						</h3>
						<div class="text-right">
						{% if form_mode == '_update' %}
							<a href="{% url 'delete_production_order' obj.pk %}" title="Eliminar esta orden de producci&oacute;n" class="btn btn-danger btn-sm btn-delete"><span class="glyphicon glyphicon-remove"></span> Eliminar</a>
						{% else %}
						<a href="{% url 'create_production_order' %}" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-arrow-up" ></span>Volver</a>
						{% endif %}
						</div>
					</div>
					<table class="table table-hover table-condensed table-striped">
					{{ form }}
					</table>
				</div>
			</div>
			<div class="modal-footer">
				{% if form_mode == "_create" %}
				<button type="submit" class="btn btn-primary" name="_createanother">Guardar y agregar otro</button>
				{% endif %}		        
		        <button type="submit" class="btn btn-primary" name="_create">Guardar</button>
		        <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Close</button>
		    </div>
		    </form>
		</div>
	</div>
</div>

{% endblock %}

{% block style %}
<link href="{{ STATIC_URL }}css/chosen.css" rel="stylesheet">
<style type="text/css">
	.actions .btn{padding: 0;}
	.panel-title{line-height: 34px;}
	.default{ height: 25px !important}
	.chosen-choices{height: 25px !important}
	.search-field input{height: 25px !important}
</style>
{% endblock %}

{% block js %}
<script src="{{ STATIC_URL }}js/chosen.jquery.js"></script>
<script type="text/javascript">
	$('.chosen-select').chosen({width: "95%", height: "100%"})
	$(document).ready(function(){
		{% if show_form %}
				$('#formModal').modal('show');

		{% endif %}
		$("span").tooltip();

		{% if form_mode ==  "_update" %}
            $('#formModal').on('hidden.bs.modal', function () {
                top.location = "{% url 'create_production_order' %}"
            });
		{% endif %}

		/* dataTables jQuery plugin activation setDataTables(id_table)*/
		setDataTables('#dataTable')
		{% if error %}
			setAlertError("No se puede procesar la solicitud", "{{ error }}");
		{% endif%}
	});
</script>
{% endblock %}













