<table class="table table-hover table-condensed table-striped">
			<tr><td>Estado</td><td>[[ status ]]</td></tr>
			<tr><td>Actividad</td><td>[[ activity ]]</td></tr>
			<tr><td>Lugar</td><td>[[ place ]]</td></tr>
			<tr><td>Fecha creaci&oacute;n</td><td>[[date_added]]</td></tr>
			<tr><td>Ultima modificaci&oacute;n</td><td>[[date_modified]]</td></tr>
			<tr><td>Calificaci&oacute;n</td><td>[[qualification]]</td></tr>
			<tr><td>Generada por</td><td>[[user.generator]]</td></tr>
			<tr><td>Observaci&oacute;n al generar</td><td>[[comments.generated]]</td></tr>
			<tr><td>Llenada por</td><td>[[user.filling]]</td></tr>
			<tr><td>Observaci&oacute;n al llenar</td><td>[[comments.filling]]</td></tr>
			<tr><td>Calificada por</td><td>[[user.qualification]]</td></tr>
			<tr><td>Observaci&oacute;n al calificar</td><td>[[comments.qualified]]</td></tr>
			<tr><td>Verificada por</td><td>[[user.approval]]</td></tr>
			<tr><td>Observaci&oacute;n al verificar</td><td>[[comments.verified]]</td></tr>
		</table>
		<div class="panel-heading">
			<h3 class="panel-title">
				Responsables
			</h3>
		</div>
		<table class="table table-hover table-condensed table-striped">
			<tr><th>Nombre</th><th>Cantidad</th><th>Observaciones</th></tr>
			<!-- [[#responsible]]  -->
			<tr><td >[[name]]</td><td class="text-right">[[filling]]</td><td>[[comments]]</td></tr>
			<!-- [[/responsible]]  -->
			<tr><td >Total</td><td class="text-right"><strong>[[total]]</strong></td><td></td></tr>
		</table>