{
	"pk": "{{obj.pk}}",
	"status": {% if obj.status == 1 %}
					"Generada",
				{% elif obj.status == 2 %}
					"llena",
				{% elif obj.status == 3 %}
					{% if obj.qualificationproord.status == 1%}
                	"Calificada y Aprobada",
                	{%else%}
                	"Calificada y No Aprobada",
                	{%endif%}
				{% elif obj.status == 4 %}
					"En nomina",
				{% else %}
					"ERROR",
				{% endif %}
	"activity": "{{obj.activity.name}}",
	"place": "{{obj.place.name}}"
}           