{
	"pk": "{{pro_ord_obj.pk}}",
	"status": {% if pro_ord_obj.status == 1 %}
					"Generada",
				{% elif pro_ord_obj.status == 2 %}
					"llena",
				{% elif pro_ord_obj.status == 3 %}
					{% if pro_ord_obj.qualificationproord.status == 1%}
                	"Calificada y Aprobada",
                	{%else%}
                	"Calificada y No Aprobada",
                	{%endif%}
				{% elif pro_ord_obj.status == 4 %}
					"En nomina",
				{% else %}
					"ERROR",
				{% endif %}
	"activity": "{{pro_ord_obj.activity.name}}",
	"place": "{{pro_ord_obj.place.name}}",
	"date_added":"{{pro_ord_obj.date_added}}",
	"date_modified":"{{pro_ord_obj.date_modified}}",
	"comments":{
		"generated": "{{ pro_ord_obj.comments }}",
		"filling": "{{ pro_ord_obj.fillingproord.comments}}",
		"qualified": "{{ pro_ord_obj.qualificationproord.comments}}"
	},
	"responsible": [
		{% for e in filling_list %}
			{"name": "{{e.user.get_full_name}}","filling":"{{e.value}}"},
		{% endfor %}
		{"": ""}
	]
}           