{% extends "base.html" %}
{% block TITLE %}Cuenta activada{% endblock %}
{%block content %}		
	<article class="message-box white-box-container">
		<h3>Cuenta activada!</h3>
		<p>Tu cuenta ha sido activada satisfactoriamente, ya puedes disfrutar de las funcionalidades de <strong>Actarium</strong>.</p>
		{% if invited %}
		<div class="change-pass">
			<div class="alert">
			  <strong>Atenci&oacute;n!</strong> Hemos generado una contraseña temporal para el inicio de tu sesi&oacute;n, para mayor seguridad debes cambiarla inmediatamente en tu <a href="/account#password-site">configuraci&oacute;n de cuenta</a>.
			</div>
		</div>
		{% endif %}
		<div class="menu-icons icon-about"></div><p>Conoce el funcionamiento general de <strong>Actarium</strong> en la secci&oacute;n <a href="/about">Acerca</a></p>
		<div class="menu-icons icon-faqs"></div><p>Necesitas ayuda? Accede a las <a href="/help/faq">Preguntas frecuentes</a>  </p>
		<div class="menu-icons icon-blog"></div><p>Ent&eacute;rate de las actualizaciones de la plataforma en el <a href="/blog">Blog oficial de <strong>Actarium</strong></a>
		<br><br>
		<p>Si tienes dudas, sugerencias, preguntas o quieres reportar un error, puedes hacerlo a trav&eacute;s del m&oacute;dulo <a href="#" id="callFeed">FeedBack</a> que esta disponible a la derecha en todas las ventanas</p>
	</article>
{% endblock%}
{%block style%}
<style>
	article .menu-icons{float: left;margin-right: 5px;}
	article p{margin-bottom: 20px;}
	.change-pass{margin-bottom: 20px;}
</style>
{%endblock%}