{% load i18n %}

{% autoescape off %}
Tu has recibido este correo porque has solicitado un cambio de contrase&ntilde;a para tu cuenta en www.actarium.com.

Porfavor ingresa al siguiente link para cambiar tu contrase&ntilde;a:
{% block reset_link %}
http://actarium.com{% url account.views.password_reset_confirm2 uidb36=uid, token=token %}
{% endblock %}

Tu nombre de usuario en caso de haberlo olvidado, es: {{ user.username }}

Gracias por usar nuestro sitio!

www.daiech.com

{% endautoescape %}

