{% extends "base.html" %}
{% block TITLE %}Administraci&oacute;n de usuarios{% endblock %}
{% block content %}
	<div class="page-header">
	  	<h1>Gesti&oacute;n de usuarios <small></small></h1>
	</div>
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title pull-left">Gesti&oacute;n de usuarios</h3>
			<div class="text-right">
				<a  href="{% url 'read_users' %}?workers={% if not is_active_worker %}1{% else %}0{% endif %}" title="" data-toggle="modal" class="btn btn-sm">
			    	Ver {% if is_active_worker %}in{% endif %}activos
			    </a>
				<a  href="#usersForm" title="" data-toggle="modal" class="btn btn-primary btn-sm">
			    	<span class="glyphicon glyphicon-plus"></span> Agregar
			    </a>
		   		<a href="#" title="" class="btn btn-primary btn-sm">
			   		<span class="glyphicon glyphicon-arrow-up" ></span> Cargar
			   	</a>
			</div>
		</div>
		<table class="table table-hover table-condensed table-striped ">
			<tr>
				<th>Nombres/Apellidos</th>
				<th>Correo Electr&oacute;nico</th>
				<th>C&eacute;dula</th>
				<th>Tel&eacute;fono</th>
				<!-- <th>Tel&eacute;fono Celular</th> 
				<th>Fecha Nacimiento</th>
				<th>Direcci&oacute;n/Ciudad</th>-->
				<th>Tipo de usuario</th>
				<th>Cargo</th>
				<th>Trabajador Activo</th>
				<th>Acciones</th>
			</tr>
			{% for u in users %}
			<tr>
				<td>
				{{ u.get_full_name }}
				</td>
				<td>{{ u.email }}</td>
				<td>{{ u.userprofile.dni }}</td>
				<td>{{ u.userprofile.cell_phone }}</td>
				<!-- <td>{{ u.userprofile.date_born|date }}</td>
				<td>{{ u.userprofile.address }} {{ u.userprofile.city }}</td> -->
				<td>{{ u.userprofile.id_user_type.name }}</td>
				<td>{{ u.userprofile.id_employment.name }}</td>
				<td class="text-center">
					{% if u.userprofile.is_active_worker %}
						<span title="{{ u.get_short_name }} es trabajador Activo" class="glyphicon glyphicon-ok" ></span>
					{% else %}
						<span title="No es trabajador Activo" class="glyphicon glyphicon-ban-circle" ></span>
					{% endif %}
				</td>
				<td class="text-center actions">
					<a href="{% url 'update_user' u.id %}{% if not is_active_worker %}?workers=0{% endif %}" title="Editar este usuario" class="btn"><span class="glyphicon glyphicon-pencil"></span></a>
					<a href="{% url 'delete_user' u.id %}" title="Eliminar este usuario" class="btn btn-delete"><span class="glyphicon glyphicon-remove"></span></a>
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
<!-- Modal -->
<div class="modal fade" id="usersForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> <!-- Ventana Modal para agregar actividades. -->
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">User</h4>
			</div>
			<form method="POST"  enctype="multipart/form-data" id="ActivityForm" action="?workers={% if not is_active_worker %}0{% else %}1{% endif %}">
			<div class="modal-body">
				
				{% csrf_token %}
				<table>
				{{ user_form }}
				{{ userprofile_form }}
				</table>
			</div>
			<div class="modal-footer">
				{% if form_mode == "_create" %}
				<button type="submit" class="btn btn-primary" name="_createanother">Guardar y agregar otro</button>
				{% endif %}		        
		        <button type="submit" class="btn btn-primary" name="_create">Guardar</button>
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		    </div>
		    </form>
		</div>
	</div>
</div>
<!-- closeModal -->
{% endblock %}

{% block style %}
<style type="text/css">
	.actions .btn{padding: 0;}
	.panel-title{line-height: 34px;}
	/*td{border: solid thin #dadada;}*/
</style>
{% endblock %}

{% block js %}
<script type="text/javascript">
	$(document).ready(function(){
		{% if show_form %}
				$('#usersForm').modal('show');
		{% endif %}
		{% if form_mode == "_update" %}
			$('#usersForm').on('hidden.bs.modal', function () {
			  	top.location = "{% url 'read_users' %}"
			});
		{% endif %}
		$("span").tooltip();
	});
</script>
{% endblock %}